body,html {
  width: 100%;
  height: 100%;
  background-color: #efd04d;
  font-family: Lato, sans-serif;
}

.logo-container {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
  margin-bottom: 30px;
}

.quote-container {
  text-align: center;
  font-size: 1.2rem;
}
